
body{
	background: #10171C;
}

.container-fluid{
	/*background: #202030;*/
	color: white;
}

@keyframes floatup {
  0%{
  	transform: scale(.1);
  	/*transform: translate(-50%,50%);*/
  	opacity: 1;
  }
/*  30%{
  	transform: scale(8);
  	opacity: .5;
  }*/
  50%{
  	transform: scale(1.2);
  	/*transform:translate(0%,0%);*/
  	opacity: 1;
  	/*fill: rgba(0,0,0,0);*/
  }
  100%{
  	transform: scale(1);
  	opacity: 0;
  }
}

.animate-in{
	/*visibility: visible;*/
	animation-name: floatup;
	animation-duration: 1.5s;
	opacity: 0;
	fill: none;
}

/*.test{
	fill: red!important;
	background: red!important;
	color:red!important;
}*/
/*
.show{
	visibility: visible;
}

*/

@keyframes fadein {
  0%{
  	opacity: 0;
  }
  100%{
  	opacity: 1;
  }
}

.js-tozero{
	/*opacity: 0;*/
	visibility: hidden;
	animation-name: fadein;
	/*animation-delay: 3s;*/
	animation-duration: 1s;
}



.js-plotly-plot .plotly .modebar{
	background: rgba(0,0,0,.25);
}

#mainPlot > div > div > div.modebar.modebar--hover > div > a > svg > path{
	fill: #3288BD;
}


.textpoint > text {
    fill: white !important;
}